@import "tailwindcss";
@plugin "daisyui" {
  themes: caramellatte --default;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
}

main {
  width: 100%;
  min-height: 100%;
}

.ajust-screen {
  width: 100%;
  max-width: 1366px;
  margin: auto
}

.ajust-width {
  width: 77%;
  max-width: 1366;
  margin: auto;
}
