@import "tailwindcss";

@plugin "daisyui" {
  themes: caramellatte --default;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.ajust-screen {
  width: 100%;
  max-width: 1366px;
  margin: auto
}

.ajust-width {
  width: 82%;
  max-width: 1366px;
  margin: auto;
}

.tab {
  &:not(:checked, label:has(:checked), :hover, .tab-active, [aria-selected="true"]) {
    color: black
  }
}

.tabs-border {
  & .tab {

    &:is(.tab-active, [aria-selected="true"]):not(.tab-disabled, [disabled]),
    &:is(input:checked),
    &:is(label:has(:checked)) {
      color: #f04913
    }
  }
}